@page
@model RazorApp.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bieb.css">

</head>


<body>
    <div class="topnav">
        <div class="home-button">

            <a class="active" href="/Index"><i class="fa fa-home"></i></a>
        </div>
        <div class="search-container">
            <form action="/Zoek_resultaat">
                <input type="text" placeholder="Waar ben je naar opzoek?" name="search">
                <div class="dropdown1">
                    <select style="font-size: 17px;" id="filter" name="Type_boek">
                        <option value="Boeken">Boeken</option>
                        <option value="E-Books">E-Books</option>
                        <option value="Luisterboek">Luisterboek</option>
                    </select>
                </div>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="hartje_image">
            <button type="submit">
                <a href="/Mijn_lijst">
                    <img src="/images/hartje.jpg" alt="Lijstknop">
                </a>
            </button>
        </div>
        <div class="profiel_image">
            <button type="submit">
                <a href="/Profiel">
                    <img src="/images/Profiel.jpg" alt="Profielknop" />
                </a>
            </button>
        </div>
    </div>
    <nav>
        <div class="lijnen">
            <div class="dropdown">
                <button class="dropbtn">Categorieën▼</button>
                <div class="dropdown-content">
                    <a href="#">Literatuur en Romans</a>
                    <a href="#">Thrillers en Spanning</a>
                    <a href="#">Non-fictie</a>
                    <a href="#">Kinderboeken</a>
                    <a href="#">Studieboeken</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">New▼</button>
                <div class="dropdown-content">
                    <a href="Nieuwste_releases.html">Nieuwste releases</a>
                    <a href="#">Trending boeken</a>
                    <a href="#">Nieuwe studieboeken</a>
                    <a href="#">Nieuwe e-books</a>
                    <a href="#">Nieuwe romans</a>
                    <a href="#">Nieuwe luisterboeken</a>
                </div>
            </div>
            <div class="contact">
                <button class="btn_contact">Contact</button>

            </div>

        </div>

    </nav>
    </div>
    <div class="book-container">
        <img src="@Model.Boek_lijst[0].Foto" alt="@Model.Boek_lijst[0].Titel" width="300" height="443">
        <div class="book-text">
            <h2>@Model.Boek_lijst[0].Titel</h2>
            <p>
                @Model.Boek_lijst[0].Inhoud_boek
            </p>
        </div>
    </div>
    <div class="reserveer-button">
        <a href="/reserveren">
            <button>Reserveer</button>
        </a>
    </div>




    </body>

</html>