@page
@model RazorApp.Pages.Mijn_lijstModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bieb.css">

</head>


<body>
    <div class="topnav">
        <div class="home-button">

            <a class="active" href="/Index"><i class="fa fa-home"></i></a>
        </div>
        <div class="search-container">
            <form action="/Zoek_resultaat">
                <input type="text" placeholder="Waar ben je naar opzoek?" name="search">
                <div class="dropdown1">
                    <select style="font-size: 17px;" id="filter" name="Type_boek">
                        <option value="Boeken">Boeken</option>
                        <option value="E-Books">E-Books</option>
                        <option value="Luisterboek">Luisterboek</option>
                    </select>
                </div>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="hartje_image">
            <button type="submit">
                <a href="/Mijn_lijst">
                    <img src="/images/hartje.jpg" alt="Lijstknop">
                </a>
            </button>
        </div>
        <div class="profiel_image">
            <button type="submit">
                <a href="/Profiel">
                    <img src="/images/Profiel.jpg" alt="Profielknop" />
                </a>
            </button>
        </div>
    </div>
    <nav>
        <div class="lijnen">
            <div class="dropdown">
                <button class="dropbtn">Categorieën▼</button>
                <div class="dropdown-content">
                    <a href="#">Literatuur en Romans</a>
                    <a href="#">Thrillers en Spanning</a>
                    <a href="#">Non-fictie</a>
                    <a href="#">Kinderboeken</a>
                    <a href="#">Studieboeken</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">New▼</button>
                <div class="dropdown-content">
                    <a href="Nieuwste_releases.html">Nieuwste releases</a>
                    <a href="#">Trending boeken</a>
                    <a href="#">Nieuwe studieboeken</a>
                    <a href="#">Nieuwe e-books</a>
                    <a href="#">Nieuwe romans</a>
                    <a href="#">Nieuwe luisterboeken</a>
                </div>
            </div>
            <div class="contact">
                <button class="btn_contact">Contact</button>

            </div>

        </div>

    </nav>
    </div>
    <div style="margin-left: 18%;"><h1>❤️ Mijn Lijst</h1></div>
    <div class="book_zoek_resultaat">
        <img src="boek3.jpg" alt="Somehow, I Manage" width="300" height="443">
        <div class="tekst_resultaat">
            <h2>Somehow, I Manage - Michael Scott (Engels)</h2>
            <p>Finally, Michael Scott has published his long-awaited management manuscript from the hit NBC television show, The Office. Somehow, I Manage is jam-packed with quotes of wisdom from the World's Best Boss, Michael Scott. From conflict resolution to the art of dating your boss, Somehow, I Manage is the culmination of decades worth of sage advice from his experiences in the business world. It's the perfect read for any The Office fan!</p>
        </div>
    </div>
    <div class="book_zoek_resultaat">
        <img src="boek4.jpg" alt="In Orbit" width="300" height="443">
        <div class="tekst_resultaat">
            <h2>In Orbit - Samantha Harvey</h2>
            <p>
                WINNAAR BOOKER PRIZE 2024
                <br><br>Een team astronauten verzamelt in een internationaal ruimtestation meteorologische gegevens en voert er wetenschappelijke experimenten uit. Maar meestal observeren ze. Gezamenlijk kijken ze naar de stille blauwe planeet, ze cirkelen eromheen, draaien langs continenten en door de seizoenen, ze zien gletsjers en woestijnen, de toppen van bergen en de deining van oceanen.
                <br><br>Hoewel ze van de wereld afgescheiden zijn, kunnen ze toch niet ontsnappen aan de constante aantrekkingskracht van de aarde. Ze ontvangen het nieuws dat de moeder van een van hen is overleden en daarmee komen de gedachten op over een terugkeer naar huis. Ze kijken toe hoe een tyfoon zich samenpakt boven de mensen van wie ze houden, en zijn vol ontzag en angst. De kwetsbaarheid van het menselijk leven vult hun gesprekken, hun angsten en hun dromen. Zo ver van de aarde hebben ze zich nog nooit zo’n onderdeel ervan gevoeld.
            </p>
        </div>
    </div>

</body>
</html>