@page
@model RazorApp.Pages.reserverenModel
@{
}
<!DOCTYPE html>
<html>

<h2>Reserveer het boek</h2>
<form>
    <label>Naam:</label>
    <input type="text" required>
    <label>Email:</label>
    <input type="email" required>
    <button type="submit">Verstuur</button>
</form>

</html>